@model CarDealership.UI.Models.InventoryReportViewModel

@{
	ViewBag.Title = "Inventory";
}
<div class="row">
	<div class="col-12">
		<h2>Inventory Report</h2>
	</div>
</div>
<div class="row inventory-results-header">
	<div class="col-12">
		<h4>New Vehicles</h4>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Year</th>
					<th>Make</th>
					<th>Model</th>
					<th>Count</th>
					<th>Stock Value</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var vehicle in Model.New)
				{
				<tr>
					<td>@vehicle.Year</td>
					<td>@vehicle.MakeName</td>
					<td>@vehicle.ModelName</td>
					<td>@vehicle.Count</td>
					<td>@vehicle.StockValue</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<div class="row inventory-results-header">
	<div class="col-12">
		<h4>Used Vehicles</h4>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Year</th>
					<th>Make</th>
					<th>Model</th>
					<th>Count</th>
					<th>Stock Value</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var vehicle in Model.Used)
				{
				<tr>
					<td>@vehicle.Year</td>
					<td>@vehicle.MakeName</td>
					<td>@vehicle.ModelName</td>
					<td>@vehicle.Count</td>
					<td>@vehicle.StockValue</td>

				</tr>
				}
			</tbody>
		</table>
	</div>
</div>


